body {
    margin: auto auto;
    padding: 0 0;
    max-width: 1420px;
    box-sizing: border-box;
    background-color: #F7F7F7;
    font-family: 'Noto Sans Display', sans-serif;
}

html {
    scroll-behavior: smooth;
}

h2 {
    font-weight: 600;
}
a{
    color: #313131
}
a:visited {
    color: #313131
}

*::selection {
    background-color: rgba(252, 130, 130, 0.692);
}

/* TODO RESPECTO A LA NAVBAR */

.header {
    display: flex;
    background-color: #F7F7F7;
    margin: auto auto;
    justify-content: space-between;
    
    align-items: center;
    width: 98%;
}

.header img {
    height: 70px;
    padding: 0 1rem;

}

.header-items {
    display: flex;
    list-style: none;
    align-items: center;
    
}

.BBF-logo {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    font-weight: 800;
    font-size: 0.8rem;


}

.Header-links {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    font-size: 1.05rem;
    margin: 0.3rem;
    padding: 0.25rem;
}

.Header-links:hover {
    color: rgb(255, 24, 24);
}

/* Seccion de inicio */

.HOME {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 2.5rem;
    align-items: center;
    /* background-color: rgba(229, 255, 0, 0.527); */
}

.HOME img {
    display: flex;
    align-items: center;
}

.homeText {
    justify-content: left;
    width: 45%;

}

.homeText p {
    width: 60%;
    font-size: 1.1rem;
    /* background-color: red; */
}

.homeText h2 {
    font-size: 4rem;
    color: rgb(197, 0, 0);
}

/* BORDES */
.border {
    background-color: rgba(112, 112, 112, 0.342);
    height: .01rem;
}

/* SECCION SOBRE NOSOTROS */
.Whoarewe {
    display: flex;
    align-items: center;
    /* background-color: rgba(255, 86, 227, 0.342); */
}

.whoareText h2 {
    /* background-color: aquamarine; */
    font-size: 3rem;
    text-align: center;
    color: rgb(197, 0, 0);
}

.whoareText p {
    width: 65%;
    margin: auto auto;
    /* background-color: aqua; */
}

/* SECCION COMO AYUDAMOS */




.howhelp h2 {
    font-size: 3rem;
    color: rgb(197, 0, 0);
    text-align: center;
}

.container_cards {
    display: flex;
    flex-wrap: wrap;
    margin: auto auto;
    margin-bottom: 4rem;

}

.cards {
    box-shadow: 0 0 1.875rem -1.25rem #707070;
    /* background-color: rgba(140, 0, 255, 0.425); */
    height: 20rem;
    align-items: center;
    flex-grow: 1;
    border-radius: 10%;
    margin: 0.5rem .5rem;
    min-width: .01rem;
    max-width: 20rem;
}

.cards h3 {
    text-align: center;
    color: rgb(71, 0, 0);
}

.cards i {
    padding: 0 .3rem;
    color: rgb(255, 0, 0);

}

.cards p {
    margin: auto auto;
    width: 70%;
    text-align: center;
}


.students {
    display: flex;
    justify-content: space-evenly;
}

.studentText {
    text-align: center;
    padding: 0;
    margin: 0;
}

.studentText h2 {
    font-size: 8rem;
    margin-bottom: 0;
    color: rgb(128, 0, 0);
}

.studentText p {
    text-align: center;
    font-size: 1.5rem;
}

.howGet {
    margin-bottom: 4rem;
}

.howGet h2 {
    font-size: 3rem;
    color: rgb(197, 0, 0);
    text-align: center;
}


.Youhelp {
    display: flex;
    /* background: rgba(55, 0, 255, 0.308); */
    align-items: center;
    margin-bottom: 3rem;
}

.youText {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    /* background:rgba(165, 42, 42, 0.233); */
    width: 60%;
    
}

.youText h2 {
    text-align: center;
    font-size: 4rem;
    color: rgb(197, 0, 0);
}

.youText p {
    /* background:#707070; */
    text-align: center;
    margin: auto auto;
    width: 60%;
}

.button {
    margin-top: 1rem;
    width: 7.5rem;
    text-align: center;
    border-radius: 1.8rem;
    background-color: rgb(255, 55, 55);
}

.button a {
    text-decoration: none;
    color: #F7F7F7;
    font-weight: 600;
}

.button:hover {
    background-color: rgb(206, 48, 48);
}

.footer h5{    
    text-align: center;
}